body {
  margin: 0;
  padding: 0;
  background-image: linear-gradient(rgba(181, 181, 181, 0.5), rgba(181, 181, 181, 0.8), rgb(157, 157, 157)),url('start.webp'); /* 背景画像のURLを指定 */
  background-size: cover;
  background-position: center;
  font-family: Arial, sans-serif;
  height: 100vh;   /*画面の高さいっぱいに背景(body)を表示 */
  display: flex;   /*以下2つを使うため */
  align-items: center;
  justify-content: center;
  color:white;

}

.container {
  text-align: center;
  background-color: rgba(64, 64, 64, 0.9); /* 背景色の透明度を調整 */
  width: 70%;
  max-width: 450px;
  padding: 20px;
  border-radius: 25px;
}

h1 {
  font-weight: bold;
  font-size: 36px;
  padding:10%
}

p {
  font-size: 18px;
}

.button {
  display: inline-block;
  padding: 10px 30px;
  background-color: #0eb002;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  margin-top: 20px;
}

.button:hover {
  background-color: #027713;
  transition: all 0.3s;
}