*, *::before, *::after {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  background-color: rgba(89, 89, 89, 0.9);
}

#start-screen {
  color:white;
}

.field {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
}

.yourColor {
  color:white;
  font-size: 20px;
  padding: 10px 0;
  width: 404px;
  text-align: center;
} 

.yourColor span{
  color:rgba(76, 247, 170, 0.768);
  font-weight: bold;
  font-size: larger;
}

.current-turn {
  display:flex;
  color:black;
  width: 404px;
} 

.mine,
.yours{
  flex:1;
  background-color: rgb(226, 226, 226);
  border-radius: 10px;
  text-align: center;
  font-size: 20px;
  padding: 10px 0;
  margin: 0 10px;
}

.mine[data-state="0"],
.yours[data-state="0"] {
  border: none; /* data-stateが0の場合、境界線を削除 */
  margin-top: 10px;
}

.mine[data-state="1"],
.yours[data-state="1"] {
  border-color: rgba(55, 176, 122, 0.768);
  border-width: 5px;
  border-style: solid; /* data-stateが1の場合、境界線を設定 */
}

.stage {
  display: flex;
  flex-wrap: wrap;
  margin: 50px;
  width: 404px;
  height: 404px;
  background-color: #37a137;
}

.square {
  position: relative;
  width: 50px;
  height: 50px;
  border: solid black;
  border-width: 0 4px 4px 0;
  cursor: pointer;;
}

.square:nth-child(-n + 8) {
  border-width: 4px 4px 4px 0;
  height: 54px;
}

.square:nth-child(8n + 1) {
  border-width: 0 4px 4px 4px;
  width: 54px;
}

.square:first-child {
  border-width: 4px;
  width: 54px;
  height: 54px;
}

.stone {
  position: absolute;
  top: 2px;
  bottom: 0;
  left: 2px;
  width: 42px;
  height: 42px;
  border-radius: 21px;
}

.stone[data-state="0"] {
  display: none;
}

.stone[data-state="1"] {
  background-color: black;
}

.stone[data-state="2"] {
  background-color: white;
}

.pass-button{
  transition: all 0.3s;
  display: block;
  padding: 15px 30px;
  background-color: #0eb002;
  color: #fff;
  font-size: 26px;
  border: none;
  border-radius: 5px;
  width: 200px;
  cursor: pointer;
}

.pass-button:hover {
  background-color: #027713;
}


#square-template {
  display: none;
} 